// Color Palette
$default-color: #ffffff;
$main-color: #2b3a42;
$color-palette-violet: #9d99e6;
$color-palette-orange: #f7ab60;
$shadow-color: rgba(34, 60, 80, 0.2);

//Sizes
$absolute-width: 100%;
$default-border-radius: 0.5rem;
$home-icon-size: 24px;
$margin-center: 0 auto;
$menu-item-margin: 1rem;
