// Color Palette
$default-color: #ffffff;
$main-color: #2b3a42;
$color-palette-violet: #9d99e6;
$color-palette-violet-dark: #6e6fd9;
$color-palette-violet-light: #bebdff;
$color-palette-blue: #84c3e2;
$color-palette-blue-dark: #0065a9;
$color-palette-blue-light: #a9eafc;
$color-palette-orange: #f7ab60;
$color-palette-red: #ae376d;
$shadow-color: rgba(34, 60, 80, 0.2);
$error-text-color: #d42c2c;
$link-color: #0000ee;

//Sizes
$absolute-width: 100%;
$default-border-radius: 0.5rem;
$home-icon-size: 24px;
$margin-center: 0 auto;
$menu-item-margin: 1rem;
$h2-font-size: 2rem;
$standard-interval: 60rem;
$standard-margin-top: 8rem;
